form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 480px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#passwordGeneratorId {
    margin: auto;
    width: 30%;
    border: 3px solid #73AD21;
    text-align: center;
}

h3 {
    font-size: 40px;
}