<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/addManagerRecordStyle.css}">
    <link rel="stylesheet" th:href="@{/displayStyle.css}">
</head>

<body>
    <script>
        function randomPassword(length) {
            var chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOP1234567890";
            var pass = "";
            for (var x = 0; x < length; x++) {
                var i = Math.floor(Math.random() * chars.length);
                pass += chars.charAt(i);
            }
            document.getElementById("generatedPassword").innerHTML = pass;
            return pass;
        }
    </script>
    <div>
        <form th:action="@{/manager/saveRecord}" modelAttribute="manager" method="post">

            <input type="hidden" th:field="*{manager.id}" />

            <label><b>Site name:</b></label><br><br>
            <input type="text" name="siteName" placeholder="Site name" th:value="${manager.siteName}" required><br><br>

            <label><b>Login:</b></label><br><br>
            <input type="text" name="login" placeholder="Your login" th:value="${manager.login}" required><br><br>

            <label><b>Password:</b></label><br><br>
            <input type="text" name="password" placeholder="Your login" th:value="${manager.password}" required><br><br>

            <input type="submit" value="Submit">

        </form>
    </div>
    <div th:id="passwordGeneratorId">
        <b>
            <h1>Generated password: </h1><br>
            <h3 id="generatedPassword"></h3><br>
            <input class="createRecordButton" type="button" onclick="randomPassword(10)"
                value="Generate random password"></input>
        </b>
    </div>


</body>

</html>