<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/displayStyle.css}">

</head>

<body>
    <script>
        function changeCheckboxValue() {
            var checkBoxValue = document.getElementById("passwordsHideCheckbox");

            for (var i = 1; i < 100; i++) {
                if (checkBoxValue.checked == true) {
                    document.getElementById("password" + i).hidden = false;
                    document.getElementById("passwordEncoded" + i).hidden = true;
                }
                else {
                    document.getElementById("password" + i).hidden = true;
                    document.getElementById("passwordEncoded" + i).hidden = false;
                }
            }
        }
    </script>
    <div id="wrapper">
        <div id="header">
            <h2>Application for credentials storage</h2>
        </div>
    </div>

    <div id="container">

        <div id="content">


            <button class="createRecordButton" onclick="window.location.href='/manager/createRecord'">

                Add record
            </button>

            <button class="deleteRecordButton" onclick="window.location.href='/manager/deleteAllRecords'">
                <b>Delete all records</b>
            </button>
            <button class="editRecordButton" onclick="window.location.href='/manager/display'">
                <b>Remove sorting by site name</b>
            </button>
            <button class="createRecordButton" onclick="alert('This app was made by Przemek')">About app</button>
            <input type="checkbox" id="passwordsHideCheckbox" name="passwordsHideCheckbox" th:checked="true"
                onchange="changeCheckboxValue()" />
            <label>Hide/show passwords</label>
            <table>
                <tr>
                    <th>Site name</th>
                    <th>Login</th>
                    <th>Password</th>
                    <th>Options</th>
                </tr>

                <th:block th:each="manager,iterationStatus  : ${managerRecordsList}">
                    <tr>
                        <td th:text="${manager.siteName}"></td>
                        <td th:text="${manager.login}"></td>
                        <td th:id="'password'+${iterationStatus.count}" th:text="${manager.password}"></td>
                        <td th:id="'passwordEncoded'+${iterationStatus.count}" hidden th:text="-----"></td>

                        <td>
                            <button class="deleteRecordButton"
                                th:onclick="|window.location.href='/manager/deleteRecord?id=${manager.id}'|">
                                <b>Delete record</b>
                            </button>
                            <button class="editRecordButton"
                                th:onclick="|window.location.href='/manager/updateRecord?id=${manager.id}'|">
                                <b>Edit record</b>
                            </button>

                        </td>
                    </tr>
                </th:block>


            </table>




        </div>
    </div>


</body>


</html>